{% extends 'templates/app.twig' %}

{% block content %}

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background: #326789;
        }

        .container {
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .calendar {
            width: 31rem;
            height: 31.5rem;
            background-color: #78a6c8;
        }

        .month {
            width: 100%;
            height: 7rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 4rem;
            text-align: center;
        }

        .prev, .next {
            font-size: 2rem;
            cursor: pointer;
        }

        .month h1 {
            font-size: 2rem;
            letter-spacing: 0.2rem;
            margin-bottom: 1rem;
        }

        .month p {
            font-size: 1rem;
        }

        .weekdays {
            width: 100%;
            height: 3rem;
            padding: 0 0.4rem;
            display: flex;
            align-items: center;
        }

        .weekdays div {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            width: calc(31rem / 7);
            display: grid;
            justify-content: center;
            align-items: center;
        }

        .days {
            width: 100%;
            flex-wrap: wrap;
            padding: 0.2rem;
            display: grid;
            grid-template-columns: repeat(7,1fr);
        }

        .days div {
            font-size: 1.3rem;
            height: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .days div:hover:not(.today) {

            background-color: #e65c4f;
            cursor: pointer;
        }

        .prev-date, .next-date {
            opacity: 25%;
        }

        .today {

            background-color: #e65c4f;
        }

    </style>
    <body>

    <div class="container">
        <div class="calendar">
            <div class="month">
                <div class="prev"><</div>
                <div class="date">
                    <h1></h1>
                    <p></p>
                </div>
                <div class="next">></div>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days">
            </div>
        </div>
    </div>
    <script >
        const date = new Date();

        const readCalendar = () => {
            date.setDate(1);
            const monthDays = document.querySelector('.days');
            const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
            const firstDayIndex = date.getDay();
            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            document.querySelector(".date h1").innerHTML = months[date.getMonth()] + "   " + date.getFullYear();
            document.querySelector(".date p").innerHTML = new Date().toDateString();
            let days = "";
            for (let i = firstDayIndex; i > 0; i--) {
               days += `<div></div>`;
            }
            for (let j = 1; j <= lastDay; j++) {
                if (j === new Date().getDate() && date.getMonth() === new Date().getMonth() && date.getFullYear() === new Date().getFullYear()) {
                    days += `<div data-date=" ${createDate(date.getFullYear(), date.getMonth() + 1, j)} " class="today" onclick="getDate()">${j}</div>`;
                } else {
                    days += `<div data-date=" ${createDate(date.getFullYear(), date.getMonth() + 1, j)} "  class="days" onclick="getDate()">${j}</div>`;
                }
            }
                monthDays.innerHTML = days;

        };
        document.querySelector(".next").addEventListener('click', () => {
            date.setMonth(date.getMonth() + 1);
            readCalendar();
        });
        document.querySelector(".prev").addEventListener('click', () => {
            date.setMonth(date.getMonth() - 1);
            readCalendar();
        });

        readCalendar();

        function createDate(year, month, day) {
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            return year + "-" + month + "-" + day;
        }

        let reservDate=createDate(date.getFullYear(),date.getMonth()+1,date.getDay())

        function getDate() {
            document.querySelector('.days').forEach(item => {
                item.addEventListener('click', () => {
                    reservDate = item.getAttribute('data-date');

                    let params = new FormData();
                    params.append('reservDate', reservDate);
                    console.log(params.getAll('resDate'));
                    axios.post('reserv.php', params).then(response => {
                        console.log(response);
                    });
                })
            });
        }
    </script>
    </body>
{% endblock %}